.card{
    position: relative;
    height: 34rem;
    width: 22rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 5px;
}

.card img{
    width: 100%;
    height: 80%;
}


.heart{
    position: absolute;
    font-size: 2rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 1rem;
    left: 72%;
    top: 74%;
    cursor: pointer;
}


@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    
.borderBlink{    
    border:1px solid black;
   
}
.borderBlink:hover {    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;    
}